@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .clip-path {
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 100%, 0 92%, 0% 60%, 0 0);
  }
  .heading {
    @apply text-[30px] md:text-[35px] lg:text-[45px] xl:text-[50px] uppercase font-bold text-gray-900;
  }
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
input[type="time"]::-webkit-calendar-picker-indicator::after {
  filter: invert(1);
}
